.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.box{
  background: #fff;
    color:black;
    border: 1px solid #999;
    height: 25px;
    width: 100%;
}

.is-active-box{
  border: 1px solid red;
  background-color: red;
  color: white;
}

.status {
  margin-bottom: 10px;
}

.ButtonCol:focus {
  outline: none;
}
.ButtonCol {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
